<div class="card shadow mb-4">
        <div class="card-header py-3">      
            <div class="container">
                <div class="row my-4">
                <div class="col-md-6">
                    <h5 class="font-weight-bold text-primary">Reservations</h5>
                </div>
                <div class="offset-md-1 col-md-5">
                    <button type="button" class="btn btn-primary mr-2" (click)="filterReservations()">
                        <i class="fas fa-search"></i> Filter
                    </button> 
                    <button type="button" class="btn btn-secondary mr-2" (click)="clearFilter()">
                        <i class="fas fa fa-eraser"></i> Clear Filter
                    </button>
                    <button type="button" class="btn btn-primary" (click)="createReservation()">
                    <i class="fas fa-fw fa-money-check-alt"></i> Create New Reservation
                    </button>
                </div>  
                </div>
                <div class="form-group row">
                <label for="filterNumber" class="col-md-2 col-form-label text-right">
                    Room:</label>
                <div class="col-md-3">
                        <app-drop-down-search 
                            class="w-100"
                            [inputElement]="filter.roomId" 
                            [searchField]="'number'"
                            [items]="rooms$"
                            (onSelectedItem)="onChangeRoomFilter($event)">
                        </app-drop-down-search>
                </div>
                </div>
                <div class="form-group row">
                <label for="type" class="col-md-2 col-form-label text-right">
                    Number of Persons:</label>
                <div class="col-md-3">
                    <select class="form-control w-100 float-right" [(ngModel)]="filter.numberOfPersons" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let n of numberOfPersons" [value]="n">{{n}}</option>
                    </select>
                </div>
                <label for="state" class="col-md-2 col-form-label text-right">
                    State</label>
                <div class="col-md-3">     
                    <select class="form-control w-100 float-right" [(ngModel)]="filter.reservationState" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let s of reservationStates" [value]="s.key">{{s.value}}</option>
                    </select>
                </div>
                </div>
                <div class="form-group row">
                <label for="startDate" class="col-md-2 col-form-label text-right">
                    Start Date:</label>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="startDate" [(ngModel)]="filter.startedDate" [ngModelOptions]="{standalone: true}" />
                </div>
                <label for="endDate" class="col-md-2 col-form-label text-right">
                    To:</label>
                <div class="col-md-3">
                    <input type="date" class="form-control" id="endDate" [(ngModel)]="filter.endDate" [ngModelOptions]="{standalone: true}" />
                </div>
                </div>
            </div>
        </div>
    <div class="card-body">
        <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">Room</th>
                        <th class="text-center">Owner Email</th>
                        <th class="text-center">Started Date</th>
                        <th class="text-center">State</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Remove</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th class="text-center">Room</th>
                        <th class="text-center">Owner Email</th>
                        <th class="text-center">Started Date</th>
                        <th class="text-center">State</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Remove</th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr *ngFor="let i = index; let reservation of reservations$ | async" [class.active]="i == selectedRow">
                        <td>
                            {{ reservation.room?.number }}
                        </td>
                        <td width="30%">
                            {{ reservation.ownerEmail }}
                        </td>
                        <td>
                            {{ reservation.startedDate | date }}
                        </td>
                        <td>
                            {{ reservation.reservationState }}
                        </td>
                        <td  class="text-center" width="10%">
                            <button class="btn btn-primary" (click)="setClickedRow(i, reservation)">
                                <i class="far fa-edit" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td  class="text-center" width="10%">
                            <button class="btn btn-danger" (click)="deleteReservation(reservation.id)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                        <!--  -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <app-new-reservation-modal
        [reservation]="selectedReservation"
        [rooms]="rooms$"
        (onSaveChanges)='saveDetailsChanges($event)'
        (onCancelChanges)='cancelDetailsChanges($event)'>    
    </app-new-reservation-modal>
</div>
